# Laravel
backend/.env
backend/vendor/
backend/storage/logs/
backend/storage/framework/cache/
backend/storage/framework/sessions/
backend/storage/framework/views/
backend/bootstrap/cache/

# Next.js
frontend/.env.local
frontend/.env*.local
frontend/.next/
frontend/node_modules/

# Docker
mysql_data/

# OS
.DS_Store
